{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2 class="text-center">Welcome to Footgram</h2>
        <p class="text-center">Login into your account.</p>
        
        <!-- Login Form -->
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div >
            <div class="d-flex justify-content-center">
                <a href="{% url 'user_home' %}" class="btn btn-primary">Login</a>
            </div>
        </form>
        
        <!-- Link to the signup page -->
        <p class="text-center">Don't have an account? <a href="{% url 'registration' %}">Sign up here</a>.</p>
        
    </div>
</div>
{% endblock %}

