<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Footgram</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          
          
        </ul>
        
      </div>
      <!-- Adding a search form  -->
    <div class="col-sm-4 col-md-4 navbar-right">

      <form class="navbar-form" role="search" action="{% url 'search_users' %}">

        <div class="input-group">
          <input type="text" class="form-control mr-sm-4" placeholder="Search User" name="user">
          <div class="input-group-btn">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Find</button>
          </div>
        </div>

      </form>
    </div>
    <!-- search form end -->
    </div>
  </nav>